@media only screen and (max-width:1200px){
    .main_nav{
        margin-right: 30px;
    }

    h3{
        height: 70px;
    }
    
    .Testimonials-section blockquote{
        font-size: 80%;
    }

    .Testimonials-section{
        height: 90vh;
    }

    .contact-section .social-icons li {
        margin: 0 20px;
    }
}

@media only screen and (max-width:1023px){
    .logo{
        width: 250px;
        margin-left: 40px;
    }

    .main_nav li a{
        font-size: 90%;
    }

    .main_nav{
        margin-right: 0px;
    }

    .heading_main_box{
        font-size: 80%;
        transform: translate(-30%,-50%);
    }
    
    .product-infor{
        font-size: 80%;
        padding-left: 30px;
    }

    .Testimonials-section blockquote{
        font-size: 80%;
        width: 90%;
    }

    .Testimonials-section cite{
        top: 250px;
        display: inline-block;
        text-align: center;
    }

    .Testimonials-section img{
        width: 150px;
    }

    .contact-section .social-icons li {
        font-size: 150%;
        margin: 0 15px;
    }
}

@media only screen and (max-width:767px){

    .main_nav{
        display: none;
        position: absolute;
        top:100px;
        right: 20px;
    }

    header{
        height: 80vh;
    }

    .heading_main_box{
        font-size: 60%;
        transform: translate(-20%,-50%);
    }

    header .button{
        width: 200px;
    }

    .picture_title{
        font-size: 14px;
    }

    .product-section .span_1_of_3 {
        width: 100%;
    }

    .product-infor{
        font-size: 30px;
        padding-left: 80px;
    }

    .Testimonials-section .span_1_of_4{
        width: 100%;
    }

    .Testimonials-section cite{
        top: 100px;
        text-align: center;
    }

    .Testimonials-section{
        height:140vh;
    }

    figcaption {
        visibility:hidden;
    }

    .mobile-nav-icon{
        display: block;
    }

    .contact-section .information li{
        font-size: 17px;
    }

    .contact-section .social-icons li{
        margin: 0px 5px;
    }

    .contact-section form{
        width: 100%;
        margin-left: 5px;
    }
}

@media only screen and (max-width:480px){
    .heading_main_box {
        font-size: 50%;
        transform: translate(-17%,-50%);
    }

    header .button {
        width: 150px;
    }

    .contact-section .span_1_of_3 {
        width: 100%;
    }

    .contact-section .social-icons li {
        font-size: 250%;
        margin: 0px 10px;
    }

    .contact-section .span_2_of_3 {
        width: 90%;
    }

    .contact-section .span_2_of_3 .span_1_of_3 {
       text-align: center;
    }

    .contact-section {
        height: 120vh;
    }

    .main_nav{
        font-size: 15px;
    }
}